USE [master]
GO
/****** Object:  Database [P0012HandyMan]    Script Date: 9/21/2019 5:05:53 PM ******/
CREATE DATABASE [P0012HandyMan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'P0012HandyMan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\P0012HandyMan.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'P0012HandyMan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\P0012HandyMan_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [P0012HandyMan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [P0012HandyMan]
GO
/****** Object:  Table [dbo].[ContactInfo]    Script Date: 9/21/2019 5:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[City] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Tel] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[Image] [varchar](50) NULL,
 CONSTRAINT [PK_ContactInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactMessage]    Script Date: 9/21/2019 5:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactMessage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Message] [varchar](255) NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Introduction]    Script Date: 9/21/2019 5:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Introduction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[Image] [varchar](50) NULL,
 CONSTRAINT [PK_Introduction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReferenceMessage]    Script Date: 9/21/2019 5:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReferenceMessage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[Message] [varchar](50) NULL,
	[Image] [varchar](50) NULL,
	[CreatedTime] [timestamp] NULL,
 CONSTRAINT [PK_ReferenceMessage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Service]    Script Date: 9/21/2019 5:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Service](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Image] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[PublishDate] [datetime] NULL CONSTRAINT [DF_Service_PublishDate]  DEFAULT (getdate()),
	[Price] [float] NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ContactInfo] ON 

INSERT [dbo].[ContactInfo] ([ID], [Address], [City], [Country], [Tel], [Email], [Image]) VALUES (1, N'District. 9 High Tech Park', N'Ho Chi Minh', N'Vietnam', N'0707169628', N'fpt@fpt.edu.vn', N'389_chuongpetpetcity.png')
SET IDENTITY_INSERT [dbo].[ContactInfo] OFF
SET IDENTITY_INSERT [dbo].[Introduction] ON 

INSERT [dbo].[Introduction] ([ID], [Title], [Description], [Image]) VALUES (1, N'Database', N'Test description', N'intro.jpg')
SET IDENTITY_INSERT [dbo].[Introduction] OFF
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ID], [Name], [Image], [Description], [PublishDate], [Price]) VALUES (1, N'a', N'1.jpg', N'a', CAST(N'2019-09-21 14:54:57.460' AS DateTime), 12)
INSERT [dbo].[Service] ([ID], [Name], [Image], [Description], [PublishDate], [Price]) VALUES (2, N'b', N'2.jpg', N'b', CAST(N'2019-09-21 14:56:20.957' AS DateTime), 14.58)
INSERT [dbo].[Service] ([ID], [Name], [Image], [Description], [PublishDate], [Price]) VALUES (3, N'c', N'3.jpg', N'c', CAST(N'2019-09-21 14:56:31.007' AS DateTime), 15.74)
SET IDENTITY_INSERT [dbo].[Service] OFF
USE [master]
GO
